@use '../partials/base' as base;
@use '../modules/colors' as colors;

.nav {
  position: relative;
  width: 220px;
  height: 44px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.5);

  &__list {
    display: flex;
    height: 100%;
    z-index: 1;
  }

  &__item {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: base.$font-size-12;
    font-weight: base.$medium;
    line-height: base.$line-height-1-5;
    letter-spacing: 0.83px;
    color: colors.$jacarta;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &_active {
      color: colors.$white;
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;

    &-rect {
      width: 110px;
      height: 100%;
      background-color: colors.$lavender;
      border-radius: 22px;
      box-shadow: 0 6px 12px rgba(82, 67, 194, 0.16);
      transition: transform 0.4s;
    }
  }
}
