@use 'base' as base;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: base.$base-font-weight;
  font-display: fallback;
  src: url('../assets/fonts/poppins/regular.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: base.$medium;
  font-display: fallback;
  src: url('../assets/fonts/poppins/medium.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: base.$bold;
  font-display: fallback;
  src: url('../assets/fonts/poppins/bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: base.$extra-bold;
  font-display: fallback;
  src: url('../assets/fonts/poppins/extra-bold.otf') format('opentype');
}
